!dataset/rh_schema_brief.pdf
!dataset/tb4.tar.xz
dataset/
*/open_clip_pytorch_model.bin
.vscode/
cmap/images/*.tar.xz
cmap/results/*full.csv
cmap/results/*.tar.xz
athirdmapper/images/images/*.png
athirdmapper/images/*/*.png
athirdmapper/n_images/*.png
voxelmapper/images/*.png
athirdmapper/exp*/*