!dataset/rh_schema_brief.pdf
!dataset/tb4.tar.xz
dataset/
*/open_clip_pytorch_model.bin
.vscode/
cmap/images/*.tar.xz
cmap/results/*full.csv
cmap/results/*.tar.xz
athirdmapper/images/*
athirdmapper/n_images/*
voxelmapper/images/*
athirdmapper/exp*/*